#ignore TeX building files
*.aux
*.log

#ignore ini files
*.ini

#ignore all zip files
*.zip

#ignore data folder (data too large)
Data

#ignore Non thesis relevant folders
Guide

#ignore local ide folders
.spyproject
_pycache_